*.class
*.log
.settings
.metadata
cobertura*
.idea*
/domain/out/*
/domain/out
*.iml*
grails-domain-0.1.zip
jwebserver/bin/*
jwebserver/target/
jwebserver/target
jwebserver/target-eclipse/*
jwebserver/target-eclipse/
jwebserver/target-eclipse
jwebserver/target-eclipse/classes/*
jwebserver/target-eclipse/classes/
jwebserver/target-eclipse/classes
jwebserver/target/classes/*
jwebserver/target/classes/
jwebserver/target/classes
jwebserver/web-app/WEB-INF/classes/*
jwebserver/.settings
Servers/*
servers/*
jwebserver/out/
 

